@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;

}

html {
  margin: 0;
  padding: 0;
}


:root {
  --primary-color: #c29958;
  --secondary-color: #C29958;
  --light-color: #F4F4F4;
  --dark-color: #555;
  --white-color: #ffffff;
  --black-color: #000000;
}

// =======sale-box=================
.sale_box {
  background-color: #e7c8b2;
  transition: all 1s linear;
}

.offer-details {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  padding: 0.50rem 0;

  & p {
    color: var(--dark-color);
    font-size: 0.9rem;
    margin: 0%;
    margin-top: 0.9rem;
  }
}

.sale-time-box {
  display: flex;
  column-gap: 0.90rem;

  & .box {
    background-color: var(--primary-color);
    line-height: 1.2rem;
    padding: 6px 3px;
    border-radius: 5px;
    width: 60px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.176);

    & p {
      text-align: center;
      color: var(--white-color);
      font-weight: 700;
      margin: 0;
      font-size: 0.9rem;
    }
  }

  & button {
    padding: 5px 15px;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 700;
    border: 1px solid var(--white-color);
    border-radius: 0.2rem;
    margin-top: 0.4rem;
  }

  & .hide_message i {
    position: absolute;
    right: 20%;
    cursor: pointer;
  }
}

// =======sale-box=================

.top-bar {
  display: flex;

  & .top-message p {
    color: var(--dark-color);
    font-size: 1rem;
  }


}


.dropdown_box {
  margin-left: 10px;

  & p {
    color: var(--dark-color);
    font-size: 1rem;
    margin: 0;
    cursor: pointer;

    & i {
      font-size: 0.6rem;
    }

    // &:hover + .dropdown_details{
    //   display: block;
    // }
  }
}

.dropdown_details {
  position: absolute;
  right: 2rem;
  display: none;

  & ul {
    list-style: none;
    padding: 0;
    background-color: var(--white-color);
    border: .50px solid #80808043;
    width: 200px;
    max-height: 200px;
    padding: 12px;

    & .dropdown_list {
      font-size: .9rem;
      color: var(--dark-color);
      position: relative;
      margin-top: .5rem;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}